#homepage {
    position: relative;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      background: #8A038C;
  }
  .homepage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }
  
  .homepage h1 {
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    padding-bottom: 2rem;
  }
  
  .homepage h1 span {
    display: block;
  }
  
  h1 span:nth-child(1) {
    font-weight: 800;
  }
  
  h1 span:nth-child(2),
  h1 span:nth-child(3) {
    font-weight: 100;
  }
  
  .homepage h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 65%;
    height: 1px;
    background: var(--color-white);
  }
  
  .homepage-left p {
    margin: 3rem 0;
    color: var(--color-white);
    width: 70%;
  }

    .homepage h1 {
      font-size: 3rem;
    }
  
    .homepage {
      flex-direction: column;
    }

    .homepage-left {
      margin-bottom: 4rem;
    }
  
    .homepage h1::after {
      left: 32%;
      transform: translateX(-50%);
    }

.menu-nav-buttons{
    display: flex;
    flex-direction: column;
    color: #BCBFA4;
    margin: 5px;
  }
      
.menu-nav-buttons li {
    margin-left: 10px;
    list-style: none;
    padding: 5px;
    }
      
.menu-nav-buttons button {
    font-size: 40px;
    font-weight: 300;
    color: #BCBFA4;
    text-decoration: none;
    margin-right: 3rem;
    transition: all 0.3s;
    background-color: purple;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: #F04EF2;
}
      
.menu-nav-buttons button:hover{
    color: #ECA9F0;
}

#menu {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #8A038C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menu-contents{
    width: 1000px;
    height: 600px;
    background-color: purple;
    border: 3px;
    border-style: solid;
    border-color: #F04EF2;
    border-radius: 10px;
}