.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: purple;
    padding-left: 20px;
    padding-right: 20px;
  }
  
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.logo-text {
  font-size: 40px;
  font-weight: 300;
  color: #512C58;
}
  
.logo-text span {
  font-weight: 600;
  color: #BCBFA4;
}
  
.nav-links {
  display: flex;
  color: #BCBFA4;
}
  
.nav-links li {
  margin-left: 10px;
  list-style: none;
}
  
.nav-links a {
  font-size: 16px;
  font-weight: 300;
  color: #BCBFA4;
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.3s;
}
.nav-links a:hover{
  color: #885FC5;
  border-bottom: 3px solid #885FC5;
  border-radius: 10px;
}
  
a.btn {
  border-radius: 5px;
  padding: 5px 8px;
  margin-left: 1rem;
  font-weight: 500;
}
  
a.btn-dark {
  background: transparent;
  border: 2px solid #fff;
}

a.btn-light {
  background: #fff;
  border: 2px solid transparent;
  color: #0D0D0D;
}

.nav-btn {
  display: block;
}

.navbar .menu-icons {
  display: block;
}

